{{ attach_library('btheme/project') }}
<article{{ attributes }}>
<div {{ content_attributes }}>  
	<div id="contentWrapper">
		    	<div class="pageContent">
		    	
					<div class="section parallax portfolio single-pro-img" style="background-image: url('{{ file_url(content.field_project_header['#items'].entity.uri.value) }}');" data-stellar-background-ratio="0.65" data-overlay="rgba(0,0,0,.7)">
						<div class="container">
							<div class="row">
								<div class="t-center margin-top-100">
									<h1 class="bolder uppercase font-40 white">{{ label }}</h1>
									<p class="white font-30">{{ node.body.summary }}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="section">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<h2 class="center">Used in this Project</h2>
									
										<div class="clients horizontal-slider" data-slides_count="6" data-scroll_amount="6" data-slider-speed="300" data-slider-infinite="1" data-slider-dots="0" data-slider-arrows="1">
											{{ content.field_skill_tags }}
										</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="heading">
										<h3 class="uppercase head-6"><i class="fa fa-info-circle"></i><span class="main-color">Project </span>Info</h3>
									</div>
									<ul class="list">
										<li>
											<span class="bold main-color">Published:</span> {{ date }}
										</li>
									</ul>
									{% if content.field_git %}
									<div>
										<a class="btn btn-md btn-rounded btn-green" target="_blank" href="{{ content.field_git|field_value }}"><i class="fa fa-github"></i>View on GitHub</a>
									</div>
								    {% endif %}
								</div>
								<div class="col-md-8">
									<div class="heading">
										<h3 class="uppercase head-6"><i class="fa fa-desktop"></i><span class="main-color">Case </span>Study</h3>
									</div>
									{{ content.body }}
								</div>
							</div>
						</div>
					</div>
			    </div>			    
		    </div>			
		<!-- Modal -->
		<div class="modal fade" id="registermodal" tabindex="-1" role="dialog" aria-labelledby="registermodal">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="gridSystemModalLabel">Create New Account</h4>
		      </div>
		      <div class="modal-body">
		        <div class="padding-horizontal-20 padding-vertical-20">
		            	<p>Hello our valued visitor, We present you the best web solutions and high quality graphic designs with a lot of features. just login to your account and enjoy ...</p>
						<div class="login-controls">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="User name" />
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email" />
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Confirm Email" />
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Password" />
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Confirm Password" />
							</div>
							<div class="form-group floated-controls">
								<span class="block checkbox-block"><input type="checkbox" class="checkbox" /> <span>I Agree !</span></span>
							</div>
						</div>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn main-bg">Submit</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		    	
		<!-- Back to top Link -->
	    <a id="to-top"><span class="fa fa-chevron-up shape main-bg"></span></a>

  </div>
</article>