{{ attach_library('btheme/project') }}
<article{{ attributes }}>
<div {{ content_attributes }}>  
	<div id="contentWrapper">
		    	<div class="pageContent">
		    	
					<div class="section parallax portfolio single-pro-img" style="background-image: url('{{ file_url(content.field_project_header['#items'].entity.uri.value) }}');" data-stellar-background-ratio="0.65" data-overlay="rgba(0,0,0,.7)">
						<div class="container">
							<div class="row">
								<div class="t-center margin-top-100">
									<h1 class="bolder uppercase font-40 white">{{ label }}</h1>
									<p class="white font-30">{{ node.body.summary }}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<h2 class="center">Used in this Project</h2>
									
										<div class="clients horizontal-slider" data-slides_count="6" data-scroll_amount="6" data-slider-speed="300" data-slider-infinite="1" data-slider-dots="0" data-slider-arrows="1">
											{{ content.field_skill_tags }}
										</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="heading">
										<h3 class="uppercase head-6"><i class="fa fa-info-circle"></i><span class="main-color">Project </span>Info</h3>
									</div>
									<ul class="list">
										<li>
											<span class="bold main-color">Published:</span> {{ date }}
										</li>
									</ul>
									{% if content.field_git %}
									<div>
										<a class="btn btn-md btn-rounded btn-green" target="_blank" href="{{ content.field_git|field_value }}"><i class="fa fa-github"></i>View on GitHub</a>
									</div>
                  {% endif %}
                  {% if content.field_project_link %}
									<div style="margin-top: 10px;">
										<a class="btn btn-md btn-rounded btn-green" target="_blank" href="{{ content.field_project_link|field_value }}"><i class="fa fa-check"></i>Project Link</a>
									</div>
								  {% endif %}
								</div>
								<div class="col-md-8">
									<div class="heading">
										<h3 class="uppercase head-6"><i class="fa fa-desktop"></i><span class="main-color">Project </span>Details</h3>
									</div>
									{{ content.body }}
								</div>
							</div>
						</div>
					</div>
			    </div>			    
		    </div>			
		    	
		<!-- Back to top Link -->
	    <a id="to-top"><span class="fa fa-chevron-up shape main-bg"></span></a>

  </div>
</article>